.intro {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../assets/HeroBackground.png');
  background-size: 100% 100%;

  .intro_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1224px;

    .intro_left {
      margin: 0 0 0 15%;
      .intro_img {
        height: 400px;
        border-radius: 10px;
        // box-shadow: 15px 10px 5px 5px rgba(0, 0, 0, 0.4);
        // -webkit-box-shadow: 15px 10px 5px 5px rgba(0, 0, 0, 0.4);
        // -moz-box-shadow: 15px 10px 5px 5px rgba(0, 0, 0, 0.4);
        -webkit-box-reflect: below 5px
          linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.4));
      }
    }
    .intro_right {
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      .gift_button{
        .button{
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          margin-bottom: 20px;
          margin-right: 10px;
          height: 35px;
          width: 250px;
          cursor: pointer;
          text-decoration: none;
          color: white;
          background: rgba(217, 221, 22, 0.3);
          border: 1px solid #e6d115d8;
        }
      }
      .intro_title {
        color: white;
        display: flex;
        font-size: 70px;
        font-weight: 400;
        flex-wrap: wrap;
        background: linear-gradient(271.4deg, rgba(132, 128, 128, 0.5) 29.59%, rgba(198, 193, 193, 0) 70.94%), #ecebeb;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
        p{
          white-space: pre-line;
        }
        .profile {
          padding-right: 5px;
          color: #2c394b;
        }
        .word {
          margin-right: 5px;
        }
        .subtitle{
          width: 80%;
          text-align: right;
          margin-left: 20%;
        }
      }
      .intro_description {
        width: 60%;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        background: linear-gradient(270.15deg, rgba(250, 246, 246, 0) 2.37%, rgba(250, 246, 246, 0.5) 76.2%), #6EB8BD;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      .techstack_container{
        width: 100%;
        
        
      }
      .intro_button_container {
        display: flex;
        flex-direction: row;
        z-index: 99;
        justify-content: space-evenly;
        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          margin-top: 10px;
          margin-right: 10px;
          height: 50px;
          width: 150px;
          cursor: pointer;
          text-decoration: none;
          color: white;
          background: linear-gradient(113.3deg, rgba(112, 110, 110, 0.2) 24.35%, rgba(112, 110, 110, 0) 86.33%), #2D2929;
        }
        a:visited {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    .intro_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1224px;
      .intro_left {
        margin: 0 0 0 0;
      }
      .intro_right {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        .intro_description {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .intro {
    .intro_container {
      .intro_left {
        display: flex;
        margin-bottom: 50px;
        justify-content: center;
        .intro_img {
          height: 50%;
          width: 70%;
          border-radius: 10px;
        }
      }
      .intro_right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        .intro_title {
          color: white;
          display: flex;
          font-size: 50px;
          // font-weight: 500;
          flex-wrap: wrap;
          p{
            white-space: pre-line;
          }
          .profile {
            padding-right: 5px;
            color: #2c394b;
          }
          .word {
            margin-right: 5px;
          }
          .subtitle{
            width: 100%;
            text-align: right;
            margin-left: 20%;
          }
        }
        .intro_description{
          font-size: 18px;
          width: 90%;
        }
        .intro_button_container {
          display: flex;
          .button {
            width: 130px;
          }
        }
      }
    }
  }
}
