.home {
  margin: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-color: #0a0a0a;

  .home_container {
    display: flex;
    flex-direction: column;
  }
}