.home {
  margin: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
  .home_container {
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
