.resume_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1224px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  .resume_title {
    p {
      font-size: 50px;
      font-weight: 600;
    }
  }
  .resume_subtitle {
    margin-top: 10px;
    p {
      text-align: center;
      color: gray;
    }
  }
  .timeline_section {
    margin-top: 10px;
  }
}
