.navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1424px;

  margin-top: 30px;
  .navbar_left {
    padding-left: 20px;
    h1 {
      font-size: 50px;
      font-weight: 530;
    }
  }
  .navbar_center {
    margin-top: 5px;
    display: flex;
    width: 20%;
    justify-content: space-between;
    p {
      font-weight: 500;
      cursor: pointer;
    }
  }
  .navbar_right {
    display: flex;
    .icon {
      padding: 0 10px;
      cursor: pointer;
    }
  }
}
