.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100px;
  bottom: 25%;
  .sphere {
    height: 50%;
    z-index: 1;
  }
  .ripple {
    height: 65%;
    width: 500px;
    display: flex;
    z-index: 0;
  }
}
