.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  position: absolute;
  .sphere {
    height: 50%;
    z-index: 1;
  }
  .ripple {
    height: 65%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 15%;
    z-index: 0;
  }
}
