.contact_me {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  color: rgb(167, 163, 163);
  background-color: #0F1319;
  .contactme_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1224px;
    h1 {
      font-size: 70px;
      font-weight: 400;
      background: linear-gradient(271.4deg, rgba(132, 128, 128, 0.5) 29.59%, rgba(198, 193, 193, 0) 70.94%), #ecebeb;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-align: center;
    }
    .input_container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      input {
        width: 300px;
        height: 20px;
        border: none;
        border-radius: 10px;
        margin-top: 5px;
        padding: 10px;
        outline: none;
        font-weight: 400;
      }
      label {
        font-weight: 400;
        background: linear-gradient(270.15deg, rgba(250, 246, 246, 0) 2.37%, rgba(250, 246, 246, 0.5) 76.2%), #6EB8BD;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      textarea {
        border: none;
        border-radius: 10px;
        margin-top: 5px;
        padding: 10px;
        outline: none;
        font-weight: 400;
      }
    }
    .send_container {
      margin-top: 1em;
      .send_button {
        width: 100%;
        border: none;
        height: 50px;
        border-radius: 10px;
        background: linear-gradient(265.06deg, rgba(216, 216, 216, 0.4) 2.18%, rgba(216, 216, 216, 0) 89.88%), #499499;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }
      .send_button:hover {
        background-color: rgba(39, 46, 43, 0.677);
      }
    }
  }
}
.toast_notification {
  height: 100px;
  background-color: white;
  border: 1px black;
  --toastify-text-color-light: black;
  --toastify-color-progress-light: black;
}
